<%
layout("/include/_container.html", {title:"表单", parent:"报销申请"}){
%>
	<script type="text/javascript">

		$(document).ready(function() {
			jp.ajaxForm("#inputForm",function(data){
				if(data.success){
				    jp.toastr_success(data.msg);
				    jp.unblock("#inputForm", 0);//立即清除loading层
					jp.go("${ctx}/test/activiti/testActivitiExpense");
				}else{
				    jp.toastr_error(data.msg);
				    $("#inputForm").find("button:submit").button("reset");
				}
			});


            $("#agree").click(function () {
                jp.prompt("同意, 审批意见", function (message) {
                    jp.post("${ctx}/test/activiti/testActivitiExpense/audit",
                        {
                            "act.taskId":"${testActivitiExpense.act.taskId}",
                            "act.taskName":"${testActivitiExpense.act.taskName}",
                            "act.taskDefKey":"${testActivitiExpense.act.taskDefKey}",
                            "act.procInsId":"${testActivitiExpense.act.procInsId}",
                            "act.procDefId":"${testActivitiExpense.act.procDefId}",
                            "act.flag":"yes",
                            "act.comment":message

                        },
                        function (data) {
								if(data.success){
									jp.success(data.msg);
									jp.go("${ctx}/act/task/todo")
								}
                        })
                })
            })


            $("#reject").click(function () {
                jp.prompt("驳回, 审批意见", function (message) {
                    jp.post("${ctx}/test/activiti/testActivitiExpense/audit",
                        {
                            "act.taskId":"${testActivitiExpense.act.taskId}",
                            "act.taskName":"${testActivitiExpense.act.taskName}",
                            "act.taskDefKey":"${testActivitiExpense.act.taskDefKey}",
                            "act.procInsId":"${testActivitiExpense.act.procInsId}",
                            "act.procDefId":"${testActivitiExpense.act.procDefId}",
                            "act.flag":"no",
                            "act.comment":message

                        },
                        function (data) {

                            if(data.success){
								jp.success(data.msg);
								jp.go("${ctx}/act/task/todo")
                            }


                        })
                })
            })


		});
	</script>
<div class="white-box">
	
		<div class="form-group text-center">
			<h3>${testActivitiExpense.act.taskName}</h3>
		</div>
		<form id="inputForm" action="${ctx}/test/activiti/testActivitiExpense/save" method="post" class="form-horizontal">
		<input type="hidden" name="id" value="${testActivitiExpense.id!}"/>
				<div class="form-group row">
					<label class="col-sm-3 text-right"><font color="red">*</font>员工姓名：</label>
					<div class="col-sm-9">
					${testActivitiExpense.user.name!}
					</div>
				</div>
			<hr>
				<div class="form-group row">
					<label class="col-sm-3 text-right"><font color="red">*</font>报销费用：</label>
					<div class="col-sm-9">
					${testActivitiExpense.cost!}
					</div>
				</div>
			<hr>
				<div class="form-group row">
					<label class="col-sm-3 text-right"><font color="red">*</font>归属部门：</label>
					<div class="col-sm-9">
					${testActivitiExpense.office.name!}
					</div>
				</div>
			<hr>
				<div class="form-group row">
					<label class="col-sm-3 text-right"><font color="red">*</font>报销事由：</label>
					<div class="col-sm-9">
					${testActivitiExpense.reason!}
					</div>
				</div>
			<hr>
		</form>

			<div class="form-group row">
            <div class="offset-sm-3 col-sm-9 m-t-15">
			<% if(testActivitiExpense.act.taskDefKey! != '' && !testActivitiExpense.act.finishTask! && testActivitiExpense.act.isNextGatewaty!){ %>
                <button id="agree" class="btn btn-custom waves-effect waves-light btn-md m-r-5" type="submit">同意</button>
                <button id="reject" class="btn btn-danger waves-effect waves-light btn-md m-r-5" type="submit">驳回</button>
			<% } %>
			<% if(testActivitiExpense.act.taskDefKey! != '' && !testActivitiExpense.act.finishTask! && !testActivitiExpense.act.isNextGatewaty!){ %>
				<button id="agree" class="btn btn-custom waves-effect waves-light btn-md m-r-5" type="submit">办理</button>
			<% } %>
                <a href="javascript:window.history.go(-1)" class="btn btn-danger waves-effect waves-light btn-md">
                     <i class="fa fa fa-arrow-left"></i> 返回
                </a>
			</div>
			</div>

			<%if(isNotEmpty(testActivitiExpense.id!)){ %>
				<#flowChart procInsId="${testActivitiExpense.act.procInsId!}"/>
				<#histoicFlow procInsId="${testActivitiExpense.act.procInsId!}" />
			<% } %>

		</div>
<% } %>