<%
layout("/include/_container.html", {title:"列表", parent:"组织机构"}){
%>
	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
					 <% if(shiro.hasPermission("test:tree:dialog:testTree1:add") ){ %>
						<button id="add" class="btn btn-custom waves-effect w-xs waves-light" onclick="add()"><i class="fa fa-plus"></i> 新建</button><!-- 增加按钮 -->
					<% } %>
		            <button id="expandAllBtn"  class="btn btn-white waves-effect w-xs waves-light">展开/折叠 所有</button>			</div>
			<table id="testTree1TreeTable" class="table-bordered">
			</table>
	</div>

	<% include("testTree1List.js"){} %>
	<% } %>