<%
layout("/include/_container.html", {title:"列表", parent:"请假表单"}){
%>
    <!-- 文件上传 -->
    <div id="import-collapse" class="collapse white-box m-b-5">
        <a class="jp-ti-close close close" onclick="$('#import-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="row form-horizontal" >
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file" class="required form-control">只允许导入&ldquo;xls&rdquo;或&ldquo;xlsx&rdquo;格式文件！<br>　

            </div>
            <div class="col-xs-12 col-sm-6">
                <a  id="btnImportExcel"  class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-upload"></i> 开始上传</a>
                <a  id="btnDownloadTpl" class="btn btn-custom waves-effect waves-light btn-rounded m-l-10 btn-md"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索框-->
    <div id="search-collapse" class="white-box collapse m-b-5">
        <a class="jp-ti-close close" onclick="$('#search-collapse').fadeToggle()">
            <i class="fa fa-times"></i>
        </a>
        <form id="searchForm" class="form-inline">
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="归属部门：">归属部门：</label>
				<#treeselect id="office" name="office.id"  labelName="office.name"
					title="部门" url="/sys/office/treeData?type=2" class="form-control" allowClear="true" notAllowSelectParent="true"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="员工：">员工：</label>
				<#userselect id="tuser" name="tuser.id"  labelName="tuser.name" labelValue=""
							    class="form-control"  allowClear="true"/>
			</div>
			 <div class="form-group m-b-10 m-r-10">
			     <div class="form-group">
					<label class="m-r-10" title="归属区域：">归属区域：</label>
					<div class=" input-group w-lg">
						<input name="area"   data-toggle="city-picker"/>
					</div>
			     </div>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="请假开始日期：">请假开始日期：</label>
				<div class="input-daterange input-group" id="beginDate">
                    <input type="text" class="form-control" id="beginBeginDate" name="beginBeginDate">
                    <span class="input-group-text btn-custom border text-white">to</span>
                    <input type="text" class="form-control" id="endBeginDate" name="endBeginDate">
                </div>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="请假结束日期：">请假结束日期：</label>
				<div class="input-group">
                    <input readonly=""  id="endDate" name="endDate"  placeholder="请选择日期" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text btn-custom border text-white"><i class="ti-calendar"></i></span>
                    </div>
                </div>
			</div>
			 <div class="form-group m-b-10 m-r-10">
				<label class="m-r-10" title="备注信息：">备注信息：</label>
				<input name="remarks"  maxlength="257"  class=" form-control"/>
			</div>
		    <div class="form-group m-b-10 m-r-10">
                <a  id="search" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded"><i class="fa fa-search"></i> 查询</a>
                <a  id="reset" class="btn  btn-custom waves-effect waves-light m-l-10 btn-md btn-rounded" ><i class="fa fa-refresh"></i> 重置</a>
            </div>
        </form>
    </div>

	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
			 <% if(shiro.hasPermission("test:one:form:leaveForm2:add") ){ %>
			 	<button id="add" class="btn btn-custom waves-effect w-xs waves-light" onclick="add()">
					<i class="fa fa-plus"></i> 新建
				</button>
			<% } %>
			 <% if(shiro.hasPermission("test:one:form:leaveForm2:edit") ){ %>
			    <button id="edit" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="edit()">
	            	<i class="fa fa-edit"></i> 修改
	        	</button>
			<% } %>
			 <% if(shiro.hasPermission("test:one:form:leaveForm2:del") ){ %>
				<button id="remove" class="btn btn-white waves-effect w-xs waves-light" disabled onclick="del()">
	            	<i class="fa fa-remove"></i> 删除
	        	</button>
			<% } %>
			 <% if(shiro.hasPermission("test:one:form:leaveForm2:import") ){ %>
				<button id="import"  class="btn btn-white waves-effect w-xs waves-light" >
					<i class="fa fa-upload"></i> 导入
				</button>
			<% } %>
			 <% if(shiro.hasPermission("test:one:form:leaveForm2:export") ){ %>
	        	<button id="export" class="btn btn-white waves-effect w-xs waves-light">
					<i class="fa fa-download"></i> 导出
				</button>
			 <% } %>
		    </div>
		
	<!-- 表格 -->
	<table id="leaveForm2Table" class="table-bordered"   data-toolbar="#toolbar"></table>
	</div>

	<% include("leaveForm2List.js"){} %>
	<% } %>