<%
layout("/include/_container.html", {title:"报表展示", parent:"系统设置"}){
%>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1000px;height: 600px"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例4
    var myChart = echarts.init(document.getElementById('main'));
    //window.onresize = myChart.resize;
    window.addEventListener("resize",function (ev) {
        myChart.resize();
    });
    $(function () {
        jp.get("${ctx}${dataURL}", function (option) {
            // 指定图表的配置项和数据
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })
    })


</script>
<% } %>