<%
layout("/include/_container.html", {title:"区域列表", parent:"系统设置"}){
%>
<div class="white-box">
	<!-- 工具栏 -->
	<div class="pull-left"  id="toolbar">
		<% if(shiro.hasPermission("sys:area:add") ){ %>
			<button id="add" class="btn btn-custom waves-effect w-xs waves-light"  onclick="jp.openSaveDialog('新增区域', '${ctx}/sys/area/form','800px', '500px',$treeTable)" ><i class="fa fa-plus"></i> 新建</button>
		<% } %>
		<button id="expandAllBtn"  class="btn btn-white waves-effect w-xs waves-light">展开/折叠 所有</button>
	</div>

	<table id="treeTable" class="table table-bordered table-hover">
	</table>
</div>
<% include("areaList.js"){} %>
<% } %>